.page-container, .is-collapsed {
    width: 100%;
}

@media (min-width: '768px') {
    .page-container {
        width: calc(100% - 70px);
        margin-left: 70px;
    }
    .is-collapsed {
        width: calc(100% - 280px);
        margin-left: 280px;
    }
}
