.header {
    color: #72777a;
    width: inherit;
    height: 65px;
    position: fixed;
    background-color: white;
    z-index: 800;
    border-bottom: 1px solid rgba(0, 0, 0, .0625);
    .nav-left, .nav-right {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .nav-left {
        float: left;
    }
    .nav-right {
        cursor: pointer;
        float: right;
        margin-right: 15px;
        span {
            margin-left: 5px;
        }
    }
}
