
.toTop {
  display: block;
  position: fixed;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;

  line-height: 12px !important;
  right: 17px;
  bottom: -30px;
  color: #fff;
  cursor: pointer;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -o-border-radius: 200px;

  overflow: hidden;
  z-index: 9994;
  height: 29px;
  width: 29px;
  background-color: rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;

  transition: box-shadow 0.3s cubic-bezier(.55, 0, .1, 1), background-color 0.1s linear, bottom 0.3s;
  -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(.55, 0, .1, 1), background-color 0.1s linear, bottom 0.3s;
  -moz-transition: -moz-box-shadow 0.3s cubic-bezier(.55, 0, .1, 1), background-color 0.1s linear, bottom 0.3s;
  -o-transition: -moz-box-shadow 0.3s cubic-bezier(.55, 0, .1, 1), background-color 0.1s linear, bottom 0.3s;
  background-color: rgba(0, 0, 0, 0.25) !important;

  &.activeTopBtn {
    bottom: 80px;
  }

  &:hover {

    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.16) !important;
    background-color: #3452ff !important;

    .arrowUp {
      -webkit-transform: translate(0, -29px) !important;
      -ms-transform: translate(0, -29px) !important;
      transform: translate(0, -29px) !important;
    }
  }

  .arrowUp {

    &:before {
      content: '';
      width: 13px;
      height: 13px;
      background: url("../../../../images/up-arrow.png") no-repeat;


      background-size: cover;
      display: block;
    }

    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    word-spacing: 1px;
    vertical-align: middle;
    max-width: 100%;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
  }

}
