.container {
    max-width: 740px;
    margin: 40px auto 0 auto;
    padding: 0 20px;
    pre {
        padding: 20px;
        background: rgba(0,0,0,.05);
    }
    h1 {
        color: rgba(0,0,0,.84);
        font-size: 34px;
    }
    h2 {
        font-size: 25px;
        color: rgba(0,0,0,.54);
    }
}
