@font-face {
  font-family: 'RobotoRegular';
  src: url('../../../fonts/Roboto/Roboto-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../../../fonts/Roboto/Roboto-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../../../fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'OpenSansSemi';
  src: url('../../../fonts/Open_Sans/OpenSans-SemiBold.ttf')  format('truetype');
}
