.sidebar {
    @media (max-width: '767px') {
        width: 0;
    }
    width: 70px;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    top: 0;
    border-right: 1px solid rgba(0, 0, 0, .0625);
    transition: all 200ms ease;
    a:hover {
        text-decoration: none;
    }
    &:hover {
        @media (min-width: '768px') {
            width: 280px;
            .logo {
                border-bottom: 1px solid rgba(0, 0, 0, .0625);
                padding: 0 20px;
            }
            .menu {
                .title {
                    display: inline-block;
                }
            }
        }
    }
    .logo {
        height: 65px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        .logo-group {
                color: #72777a;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            width: 210px;
            .logo-image {
                width: 70px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            h1 {
                font-size: 1.5em;
                margin: 0;
                padding: 0;
                &:hover {
                    color: #313435;
                    text-decoration: none;
                }
            }
        }
    }
    .menu {
        ul {
            margin: 0;
            padding: 0;
            margin-top: 30px;
            li {
                a {
                    color: #72777a;
                    display: block;
                    font-size: 15px;
                    font-weight: 500;
                    white-space: nowrap;
                    padding: 5px 15px;
                    &:hover {
                        .title {
                            color: #313435;
                        }
                    }
                    .icon-holder {
                        height: 35px;
                        width: 35px;
                        display: inline-block;
                        margin-right: 14px;
                        text-align: center;
                        line-height: 35px;
                        svg {
                            vertical-align: middle;
                        }
                    }
                    .title {
                        display: none;
                        vertical-align: middle;
                    }
                }
                a.active {
                    .title {
                        color: #313435;
                    }
                }
            }
        }
    }
}
.is-collapsed {
    width: 280px;
    .logo {
        border-bottom: 1px solid rgba(0, 0, 0, .0625);
        padding: 0 20px;
    }
    .menu {
        .title {
            display: inline-block !important;
        }
    }
}

//@media (max-width: '767px') {
//    .sidebar:hover {
//
//    }
//}
