.banner {
    background: url("../../../../../../../img/header.jpg");
    height: 65vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    h1 {
        color: white;
        font-family: RobotoBold;
    }
    @media (max-width: 768px) {

        h1 {
            display: none;
        }
    }
}
