.signin {
    .left, .right {
        height: 100vh;
    }
    .left {
        background-image: url('../../../../img/ether.jpeg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .right {
        h1 {
            margin-top: calc((100vh - 224px) / 2);
            text-align: center;
            font-size: 1.5em;
            opacity: 0.8;
        }
        .error {
            text-align: center;
            color: #dc3545;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
            }
        }
    }
    @media (max-width: 768px) {
        .left {
            display: none;
        }
    }
}
